*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* Styles for all sections */
.about-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    margin-bottom: 20px;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    width: 100%; /* Full width by default */
    max-width: 350px; /* Maximum width for larger screens */
}


.card h1.sub-title,
.card h2.sub-title {
    color: #00ff73; /* Accent color for section title */
    margin-bottom: 20px;
}

.card p,
.card li {
    margin-bottom: 10px; /* Adjust spacing between paragraphs and list items */
}

/* Media query for smaller screens like iPhone 14 */
@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* Remove maximum width */
    }
}


/* Styles for the "Education" section */
#education {
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Text color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

#education h2.subs-title {
    color: #00ff73; /* Accent color for section title */
    margin-bottom: 20px;
}

#education ul {
    padding-left: 20px; /* Adjust indentation for list items */
}

#education li {
    margin-bottom: 10px;
    list-style-type: disc; /* Bullet points */
}

#education li:last-child {
    margin-bottom: 0; /* Remove margin for last item */
}

.wave{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #00ff73, 0 0 10px #00ff73, 0 0 20px #00ff73, 0 0 40px #00ff73;
    animation: glow 1.5s infinite alternate;
}
/* Styles for the "Career Experience" section */
#experience {
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Text color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

#experience h2.subs-title {
    color: #00ff73; /* Accent color for section title */
    margin-bottom: 20px;
}

#experience h3 {
    color: #ff004f;
}

#experience .date {
    color: #ccc; /* Date color */
    font-style: italic;
    margin-bottom: 10px;
}

#experience li {
    margin-bottom: 10px;
    list-style-type: disc; /* Bullet points */
}

#experience li:last-child {
    margin-bottom: 0; /* Remove margin for last item */
}

/* Add this CSS to highlight the active tab in green */
.tab-links.active-link {
    color: #00ff73; /* Green color for active tab */
}

.li{
    list-style: none;
}
/* CSS for the Close button */
.close-button-on-card {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif; /* Montserrat font */
    margin-right: 150px;
    display: inline-block; /* Make the button inline-block to align horizontally */
    background-color: transparent; /* Transparent background */
    color: #000; /* Black text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding around the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: color 0.3s; /* Smooth transition for text color */
    border-color: red;
}

.close-button-on-card:hover {
    border-color: red;
    color: #ff0000; /* Red text color on hover */
}


.close-button {
    margin-top: 10px;
    padding: 10px 20px; /* Add padding for better clickability */
    background-color: #fff; /* Background color */
    border: 2px solid #ff0000; /* Red border */
    color: #ff0000; /* Red text color */
    font-size: 16px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for smoother hover effect */
}

/* Hover effect */
.close-button:hover {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    border-color: #fff; /* White border color */
}


.linkedin-logo {
    max-width: 100px;
    margin-left: 40px;
}
.github-link, .h4 {
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 15px;
    color: #fff;
}
#cards {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusts the space between cards */
}

#cards .work {
    margin-bottom: 20px; /* Space between rows */
    margin-top: 20px;
}

.github-logo {
  width: 40px; /* Default size */
  height: 40px; /* Default size */
  margin: 10px;
}

/* Example media query for larger devices */
@media (min-width: 768px) {
  .github-logo {
    width: 50px; /* Larger size on wider screens */
    height: 50px; /* Larger size on wider screens */
  }
}

.card-title {
    font-size: 18px; /* Adjust size as needed */
    color: #ffffff; /* Dark color for readability */
    text-transform: uppercase; /* Gives it a more structured look */
    font-weight: bold; /* Makes text bolder */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    text-align: center; /* Centers your title */
    margin-top: 15px; /* Adds space above the title */
    margin-bottom: 15px; /* Adds space below the title */
}
/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

.container {
    padding: 0 10%; /* Adjust the padding as needed */
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center; /* Centers the text */
    animation: float 5s ease-in-out infinite; /* Applies a floating effect */
    margin-bottom: 30px; /* Add some space below the title */
}

.port-text {
    text-align: center;
    color: #fff;
    /* Light text color works best for glow effects */
    text-shadow: 0 0 5px #00E6E6, 0 0 10px #00E6E6, 0 0 20px #00E6E6, 0 0 40px #00E6E6; /* Glowing effect */
    animation: glow 1.5s infinite alternate;
    margin-bottom: 30px; /* Add some space below the text */
}

.work-list {
    display: flex;
    align-items: center; /* Center cards horizontally */
    text-align: center; /* Center text within each card */
}

.work-list > iframe, .work-list > .work {
    margin: 20px;
    flex-basis: calc(50% - 40px);
    max-width: 600px; /* Limit the maximum width of the cards */
}

.work {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #262626;
    color: #fff;
    max-width: 600px; /* Limit the maximum width of the cards */
}

.work p {
    padding: 20px;
    margin: 0; /* Reset margin to ensure consistent spacing */
}


.show-details-btn {
    background-color: #ff004f; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-bottom: 20px; /* Add space below the button */
}

.show-details-btn:hover {
    background-color: #5bf1e9; /* Darker shade on hover */
}

.portfolio-details {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: none; /* Hide details by default */
}

.portfolio-details.visible {
    display: block; /* Show details */
}

/* Keyframes for glowing effect */
@keyframes glow {
    from {
        text-shadow: 0 0 5px #00E6E6, 0 0 10px #00E6E6, 0 0 20px #00E6E6, 0 0 40px #00E6E6, 0 0 80px #00E6E6;
    }
    to {
        text-shadow: 0 0 2px #00E6E6, 0 0 4px #00E6E6, 0 0 6px #00E6E6, 0 0 8px #00E6E6, 0 0 10px #00E6E6;
    }
}

/* Keyframes for floating effect */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Container holding all projects */
/* #portfolio .container {
    align-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusts the distribution of child elements */
  */
  
  /* Individual project container */
  .work-list, #cards {
    align-content: center;
    max-width: 48%; /* Ensures no more than two projects per row and provides some gap */
    margin-bottom: 20px; /* Adds space between rows of projects */
  }
  
  .work {
    width: calc(80% - 20px);
    padding: 20px;
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
  }
  
  /* Styling for the "Show Details" button */
  .show-details-btn {
    background-color: #007bff; /* Primary button color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .show-details-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  /* Portfolio details list */
  .portfolio-details {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: none; /* Hide details by default */
  }
  
  /* When details are visible */
  .portfolio-details.visible {
    display: block; /* Show details */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .work-list, #cards {
      max-width: 100%; /* Each project takes full width on smaller screens */
    }
  }
  

/* Custom CSS for portfolio details */
.portfolio-details {
    display: none;
    color: white; /* Text color */
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: none;
    font-family: Arial, sans-serif; /* Use a standard font */
}

.show-details-btn {
    background-color: #00aa07;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-details-btn:hover {
    background-color: #5bf1e9;
}

.portfolio-details li {
    margin-bottom: 15px; /* Increased margin for better spacing */
}



.portfolio-details.visible {
    display: block;
}

.port-text{
    text-align: center;
  color: #fff; /* Light text color works best for glow effects */
  text-shadow: 0 0 5px #00E6E6, 0 0 10px #00E6E6, 0 0 20px #00E6E6, 0 0 40px #00E6E6; /* Glowing effect */
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #00E6E6, 0 0 10px #00E6E6, 0 0 20px #00E6E6, 0 0 40px #00E6E6, 0 0 80px #00E6E6;
  }
  to {
    text-shadow: 0 0 2px #00E6E6, 0 0 4px #00E6E6, 0 0 6px #00E6E6, 0 0 8px #00E6E6, 0 0 10px #00E6E6;
  }
}



.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
}

.skill-card {
    width: calc(33.33% - 20px); /* Adjust the width to fit three items per row */
    margin-bottom: 20px; /* Space between rows */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card p {
    margin-top: 10px; /* Space between the image/SVG and the caption */
}

.tech-logos {
    max-width: 450px;
    height: auto;
}
/* Add this CSS to your style.css file */
.tab-contents {
    display: none; /* Hide all tab contents by default */
}

.slideshow-container {
    position: relative;
    max-width: 500px; /* Adjust based on your preference */
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #00ff73;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
/* Shared Card Styling */
.card {

    color: #fff; /* White text for readability */
    margin-top: 20px; /* Spacing from the top or previous card */
    padding: 20px; /* Padding inside the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Subtle shadow */
}

/* Subtitle Styling */
.sub-title {
    color: #ff004f; /* Accent color for titles */
    margin-bottom: 15px; /* Spacing below the title */
}

/* Fun Facts Specific Styling */
.fun-facts ul {
    list-style-type: none; /* Removes default list bullet */
    padding: 0; /* Removes default padding */
}

.fun-facts ul li {
    margin-bottom: 10px; /* Spacing between list items */
}

.fun-facts ul li strong {
    color: #ff004f; /* Accent color for strong text */
}



  
.ideas {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 10px; /* Adjust the top margin to create space between the image and the text */
    text-align: center; /* Align the text to the center */
    padding: 5px; /* Add padding to the text */
    margin-bottom: 15px;
}
.profile-pic {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Make sure width and height are equal for a perfect circle */
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* Ensures the image covers the space without being distorted */
    display: block; /* Makes the image a block element */
    margin: 20px auto; /* Centers the image horizontally and adds some space above and below */
}

@keyframes glow {
    0%, 95% {
        text-shadow: 0 0 8px rgba(255, 0, 79, 0.7), 0 0 10px rgba(255, 0, 79, 0.7), 0 0 12px rgba(255, 0, 79, 0.7);
    }
    30% {
        text-shadow: 0 0 20px rgba(255, 0, 79, 0.9), 0 0 30px rgba(255, 0, 79, 0.9), 0 0 40px rgba(255, 0, 79, 0.9);
    }
}
h2{
    color: #00ff73;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    animation: float 5s ease-in-out infinite; /* Applies a floating effect */
    /* margin-right: 75px; */
    



@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }

}


}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.header-text {
    animation: float 4s ease-in-out infinite;
}

.header-text h1 span {
    animation: glow 2s ease-in-out infinite;
}


#experience {
    display: block; /* Show Career Experience tab content by default */
}








html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* -----------about--------------- */
#about{
    padding: 80px 0;
   
}
.about-col-1 {
    width: 40%; /* Adjust the width as needed */
    float: left; /* Float the first column to the left */
}

.about-col-2 {
    width: 60%; /* Adjust the width as needed */
    float: left; /* Float the second column to the left */
    padding-left: 20px; /* Add padding to create space between the two columns */
}

.row {
    display: flex;
    justify-content: space-between;
}


.about-col-1,
.about-col-2 {
    margin-right: 10px; /* Add margin to the right of .about-col-1 */
}

.about-col-2 {
    margin-left: 10px; /* Add margin to the left of .about-col-2 */
    height: 110%; /* Set a fixed height */
    overflow-y: auto; 
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 .profile-pic {
    width: 350px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 25px;
}

.about-col-1 img {
    display: block;
 
    max-width: 600px; /* Optional: you can set a max-width if you want */
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}


.about-col-2 {
    flex-basis: 60%;
    background-color: #000000; /* Glowing blue color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding for content */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Glowing effect */
    border-radius: 10px; /* Rounded corners */
    float: left; /* Floating to the left */
    margin-left: 80px;
}
/* CSS */
#contact .contact-left p:nth-of-type(2) {
    /* Apply styling to the second <p> tag within .contact-left */
    /* For example, change font color */
    margin-left: 25px;
}
/* CSS */
#contact .contact-left p:nth-of-type(2):contains("ronilpatel1001@gmail.com") {
    /* Apply styling to the <p> tag containing the email address */
    /* For example, change font color */
    margin-left: 25px;
}



.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center; /* Centers the text */
    animation: float 5s ease-in-out infinite; /* Applies a floating effect */
    /* margin-right: 75px; */
    
}


@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}




/* Shared Styles for Main and Nested Tab Links */
.tab-links, .nested-tab-links {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: color 0.3s, text-shadow 0.3s; /* Ensure smooth transitions */
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; /* Adjust the right margin */
    display: contents; /* Use inline-block for layout */
    color: #ff004f; /* Initial color for both */
}

.tab-links:hover, .nested-tab-links:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust the values as needed */
    color: #00ff73; /* Hover color */

}

.tab-links:hover::after, .nested-tab-links:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab-links.active-link::after, .nested-tab-links.active-link::after {
    width: 50%; /* Underline effect for active tab */
}

/* Specific Styles for Nested Tabs */
.nested-tab-titles {
    margin: 20px 0; /* Adjust top and bottom margin for nested tab titles */
    display: flex; /* Use flexbox for layout */
}


.nested-tab-contents {
    display: flex; /* Initially hide all nested tab content */
}

.nested-tab-contents.active-tab {
    display: flex; /* Display active nested tab content */
}



/* ----------------services------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* -------portfolio----------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
   transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/* ---------contact-------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    margin-left: 25px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
.copyright a{
    color: #ff004f;
    text-decoration: none;
}
/* -----------------css for small screens--------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
/* Container for the "About Me" text */
.about-col-2 {
    text-align: center; /* Center the title and text */
    margin-bottom: 50px; /* Adds space between the text and tab links */
}

/* Styles for the tab titles container */
/* Add this CSS to your style.css file */
.tab-titles {
    display: flex; /* Set display to flex to arrange items side by side */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
}

.tab-links {
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-col-1 {
    flex: 1; /* Allow the "Who Am I" box to take up remaining space */
    margin-right: 20px; /* Add some margin to the right to separate it from the tabs */
}


.tab-links {
    background-color: transparent;
    border: none;
    padding: 10px 20px; /* Add padding for a larger clickable area */
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff; /* Set the color of the tab links */
    border-radius: 5px; /* Optional: adds rounded corners to the tab links */
}

.tab-links:hover, .tab-links.active-link {
    background-color: #ff004f; /* Highlight color on hover/active */
    color: #ffffff;
}

.tab-contents {
    text-align: left; /* Aligns the content of the tabs to the left */
    padding: 20px; /* Adds padding around the content for spacing */
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .tab-titles {
        flex-direction: column; /* Stacks the tabs vertically on smaller screens */
    }
}

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* This will automatically fit 3 items in a row on desktop */
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #262626;
    color: #fff;
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
    width: 100%;
}

.work img {
    width: 100%;
    transition: transform 0.5s; /* Smooth transition for scale effect */
}

.layer {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}

.work:hover .layer {
    height: 100%; /* Full height on hover */
}

.work:hover img {
    transform: scale(1.05); /* Slight increase in size on hover */
}

/* Responsive adjustments for mobile */
@media only screen and (max-width: 768px) {
    .work {
        margin:  0 auto !important;
    }
    .work-list {
        grid-template-columns: 1fr; /* Only 1 item per row on mobile */
    }
}

/* General styles, applying to both desktop and mobile */
#contact {
    background: #262626; /* Optional: background color for the contact section */
    color: #fff; /* Ensures text is white for contrast */
}

#contact .container {
    max-width: 1200px; /* Adjust based on preference */
    margin: auto; /* Centers the container */
    padding: 20px;
}

#contact .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures space between left and right on desktop */
}

.contact-left, .contact-right {
    /* Initial basis before media query adjustments */
    flex-basis: 48%; /* Adjusts to almost half the container's width for desktop */
    margin-top: 30px;
}

.contact-left p, .contact-right form {
    margin-left: 25px; /* Consistent left margin for inner content */
}

.contact-left p i, .social-icons a i {
    color: #ff004f; /* Brand color for icons */
    margin-right: 15px; /* Space between icon and text */
}

.social-icons {
    display: flex;
    justify-content: start; /* Aligns social icons to the start */
    flex-wrap: wrap;
    margin-left: 25px;
}

.social-icons a {
    display: inline-flex; /* Allows for center alignment of icons */
    align-items: center;
    justify-content: center;
    width: 40px; /* Fixed size for icons */
    height: 40px;
    margin-right: 10px; /* Space between icons */
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.btn.btn2, form .btn2 {
    display: block; /* Makes button full width of its container */

    margin: 20px 0; /* Adds margin on top and bottom */
}

/* Input and textarea styling */
form input, form textarea {
    background: #1e1e1e; /* Slightly lighter than the section background for contrast */
    color: #fff; /* White text */
    border: 1px solid #ff004f; /* Adds a subtle border */
    padding: 12px; /* Padding for text area */
    margin-bottom: 16px; /* Margin between form fields */
}

/* Responsive adjustments for mobile */
@media only screen and (max-width: 768px) {
    .contact-left, .contact-right {
        flex-basis: 100%; /* Takes the full width of the container on small screens */
        margin-left: 0; /* Resets left margin for alignment */
    }

    .social-icons {
        margin-top: 20px; /* Adds space above the icons */
    }

    form input, form textarea, .btn.btn2, form .btn2 {
        width: calc(100% - 50px); /* Adjusts width to ensure it doesn't overflow the parent container */
       
    }
}

/* Copyright styling adjustments */
.copyright {
    font-size: 14px; /* Adjusts the font size for readability */
    padding: 15px 0; /* Adjusts padding for a more compact look */
    background: #1e1e1e; /* Matches the form background for consistency */
}

/* Base styles for the "About" section */
#about {
    padding: 80px 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures proper spacing between columns */
}

/* Styling for the left column of the "About" section */
.about-col-1 {
    flex: 1;
    margin-right: 2%; /* Adjust based on preference */
    text-align: center; /* Centers content on mobile */
}

/* Styling for the profile picture */
.about-col-1 .profile-pic {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Styling for the right column of the "About" section */
.about-col-2 {
    margin-bottom: 20px;
    flex: 2;
    padding-left: 20px;
}

/* Styling for tab titles and contents */
/* Apply glow effect to tab titles */
.tab-titles, .nested-tab-titles {
    display: flex;
    justify-content: center; /* Center tabs on mobile */
    flex-wrap: wrap;
}

.tab-links, .nested-tab-links {
    margin: 10px;
    cursor: pointer;
    color: hsla(39, 100%, 68%, 1);
    /* Add glow effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust the values as needed */
}

.tab-contents, .nested-tab-contents {
    text-align: center;
    margin-top: 20px;
}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    /* Stacks columns vertically on smaller screens */
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        margin: 0 0 20px 0; /* Adds margin to the bottom for spacing */
        padding: 0 15px; /* Adds padding for better content readability */
    }

    .about-col-2 {
        /* Additional styling if needed for mobile */
    }

    .tab-titles, .nested-tab-titles {
        flex-direction: column; /* Stacks tabs vertically on smaller screens */
    }

    .github-link, .h4 {
        margin: 0 auto;
        margin-top: 15px;
    }
    #cards {
        display: flex;
        margin:  0 auto;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjusts the space between cards */
    }
}

/* Ensures content within the right column is well-presented on mobile */
.about-col-2 .card {
    background-color: #000000; /* Or any color that fits your design */
    color: #fff;
    padding: 20px;
    margin-bottom: 20px; /* Adds spacing between cards */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}


